<!DOCTYPE html>
<html>
<body>   
	<div class="header"> 
  	<div class="container"> 
    	<div class="row"> 
      	<div class="menu col-xs-8"> 
        	<ul> 
          	<li><a href=”#”>About</a></li>
          	<li><a href=”#”>Developer</a></li>
          	<li><a href=”#”>Contact</a></li>
        	</ul> 
      	</div> 
      	<div class="name col-xs-4"> 
        	<h1>RideMatch</h1> 
      	</div> 
   	 </div> 
 	 </div> 
	</div> 
  
    <div class="jumbotron">
      <div class="name col-xs-8"> 
      	<h2>Hello, my name is Liang Tan. One member of Ride Match Team</h2>
      </div>
      <div class="name col-xs-4">
      	<a class="btn hvr-fade" href="#">Start</a>   
      </div>  
    </div> 
  
  <div class="footer">
  	<div class="container">
    	<ul class="social_media">
      	<li>
          <a href="#"><img src="https://dl.dropboxusercontent.com/u/162995282/github.png" width="30px" height="30px"></a>  
        </li>
        <li>
          <a href="#"><img src="https://dl.dropboxusercontent.com/u/162995282/facebook.png" width="30px" height="30px"></a> 
        </li>
        <li>
					<a href="#"><img src="https://dl.dropboxusercontent.com/u/162995282/linkedin.png" width="30px" height="30px"></a> 
        </li>
    	</ul>
    		<p>&copy; 2015 RideMatch</p>
  	</div>
	</div>
</body>
</html>